In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import json
import numpy as np
import pandas as pd
import random
from matplotlib import pyplot as plt
import seaborn as sns
from wordcloud import WordCloud,STOPWORDS
import missingno as msno

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

from tensorflow.keras.preprocessing import text 
import keras
from keras.models import Sequential
from keras.layers import Dense,Embedding,LSTM,Dropout
from keras.callbacks import ReduceLROnPlateau

from tensorflow.keras.preprocessing.sequence import pad_sequences
import nltk
from nltk import word_tokenize
from nltk.stem import PorterStemmer

import torch
from torch.utils.data import Dataset

from transformers import AutoTokenizer, TFAutoModelForSequenceClassification
from transformers import pipeline
from transformers import DistilBertTokenizerFast
from transformers import BertForSequenceClassification, BertTokenizerFast
from transformers import TFDistilBertForSequenceClassification
from transformers import BertTokenizer, TFBertForSequenceClassification, BertConfig
from transformers import TrainingArguments, Trainer

WARNING:tensorflow:From C:\Users\Priti\my_stock_env\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [9]:
import json 
def load_json_file(filename):
    with open(filename, 'r', encoding='utf-8') as f: 
        file = json.load(f)
    return file

filename = r'C:\Users\Priti\OneDrive\Desktop\ML projects\ai_chatbots\intents.json'
intents = load_json_file(filename)

In [10]:
def create_df():
    df = pd.DataFrame({
        'Pattern' : [],
        'Tag' : []
    })
    
    return df

df = create_df()
df

Empty DataFrame
Columns: [Pattern, Tag]
Index: []

In [11]:
def extract_json_info(json_file, df):
    
    for intent in json_file['intents']:
        
        for pattern in intent['patterns']:
            
            sentence_tag = [pattern, intent['tag']]
            df.loc[len(df.index)] = sentence_tag
                
    return df

df = extract_json_info(intents, df)
df.head()

            Pattern       Tag
0                Hi  greeting
1      How are you?  greeting
2  Is anyone there?  greeting
3             Hello  greeting
4          Good day  greeting

In [12]:
df2 = df.copy()
df2.head()

            Pattern       Tag
0                Hi  greeting
1      How are you?  greeting
2  Is anyone there?  greeting
3             Hello  greeting
4          Good day  greeting

In [13]:
def print_shape_df(df, ds_name="df"):
    print(f"{ds_name} dataset has {df.shape[0]} rows and {df.shape[1]} columns")
    
print_shape_df(df, "Chatbot")

Chatbot dataset has 405 rows and 2 columns

In [21]:
def print_dfInfo(df,ds_name="df"):
    print("This is the information about the {ds_name} dataset \n")
    print(df.info())
print_dfInfo(df,"Chatbot")

This is the information about the {ds_name} dataset

<class 'pandas.core.frame.DataFrame'>
Index: 405 entries, 0 to 404
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pattern  405 non-null    object
 1   Tag      405 non-null    object
dtypes: object(2)
memory usage: 9.5+ KB
None

In [24]:
def num_classes(df,target_col,ds_name="df"):
    print(f"The {ds_name} dataset has existing classes {len(df[target_col].unique())} classes ")
num_classes(df, 'Tag', "Chatbot")

The Chatbot dataset has existing classes 38 classes

In [25]:
def check_null(df, ds_name='df'):
    print(f"Null Values in each col in the {ds_name} dataset:\n")
    print(df.isnull().sum())
    
check_null(df, "Chatbot")

Null Values in each col in the Chatbot dataset:

Pattern    0
Tag        0
dtype: int64